.App {
  text-align: center;
}


nav ul{
  list-style: none;
  text-align: center;
}
nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  padding:5px 10px;
  margin: 5px 20px;
  border: 1px solid black;

}

nav a:hover,
nav a.active{
  color: rgb(27, 23, 17);
  background-color: rgb(123, 231, 15);
  font-weight: bold;
}